################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/centralized_smart_dashboard/v16/.suo
=======
.DS_Store
.python_history
.gitconfig
.ros/*
.vs/*
__pycache__/*
static/.DS_Store
model/build/*
model/devel/*
model/install/*
model/.catkin_workspace
.bash_history
model/src/centralized_dashboard/src/__pycache__/*
.cache/*
unitTest/__pycache__/*
