body
{
}
table {
	margin: 0 auto;
	background-color: white;
}
#pictureupload, #contactupdate, #infoupdate, #yellow, #titleText
{
	background-color: #EFE4B0;
}
#hiveinfo
{

}
#hiveimage
{

}
