body
{
}
table {
	margin: 0 auto;
	background-color: white;
}
#pictureupload, #contactupdate, #infoupdate, #yellow, #titleText
{
	background-color: #EFE4B0;
}
.imagio {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
#imagebox
{
	background-color: black;
}
#hiveinfo
{

}
