body {
    background-color:silver;

}

h1 {
    text-align: center;
    font: bold arial;
    font-size: 50px;
}

.homepage-button-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.homepage-button {
    border-radius: 5px;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.hp-button {
    background-color: black;
    color: white;
    padding: 12px 40px;
    border-radius: 30px;
    min-width: 400px;
    max-width: 400px;
    min-height: 80px;
    max-height: 80px;
    font-size: 25px;
}

.hp-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.topnav {
    overflow: hidden;
    background-color: silver;
    text-align: center;
    padding-bottom: 40px;
}


.topnav pageName {
    font: bold 20pt verdana;
}

.topnav homepage {
    float:right;
    text-align:center;
    justify-content:right;
    font: italic 20pt times new roman;
}

.topnav homepage:hover {
    background-color:black;
    color:whitesmoke;
}

.submit-button{
    background-color:papayawhip;
    border-color:dimgrey;
}

.ainav {
    display: grid;
    padding: 5px 5px;
    grid-row-gap: 10px;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 450px 100px 50px 150px;

}

.ainav map{
    grid-row: 1 / 3;
    border: 2px solid black;
    text-align:center;
}

/* Creating the map CSS floor CSS*/
.ainavmap--floor {
    height: 30%;
    width: 90%;
    flex-grow: 1;
    margin-bottom: 8px;
}

/*target coordinates? or just section for current coordinates and then table of targets below?*/
.ainav coord-display{
    grid-row: 1;
    grid-column: 2 / span 2; 
    border: 2px solid black;
    padding: 5px;
    overflow-y: scroll;
}

.ainav enter-coord{
    grid-row: 2;
    grid-column: 2 / span 2; 
    /*border: 5px solid black;*/
    padding: 5px;
}

.ainav notification-bar {
    background-color: whitesmoke;
    grid-row: 4;
    grid-column: 1 / 3;
    border: 2px solid black;
    white-space: pre-line;
    overflow-y: scroll;
}

.erdm {
    display: grid;
    padding: 5px 5px;
    grid-row-gap: 10px;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 450px 100px 50px 150px;
}

.erdm map{
    grid-row: 1 / 3;
    border: 2px solid black;
    text-align:center;
}

/* Creating the map CSS floor CSS*/
.erdmmap--floor {
    height: 30%;
    width: 90%;
    flex-grow: 1;
    margin-bottom: 8px;
}

/*target coordinates? or just section for current coordinates and then table of targets below?*/
.erdm coord-display{
    grid-row: 1;
    grid-column: 2 / span 2; 
    border: 2px solid black;
    padding: 5px;
}

.erdm enter-coord{
    grid-row: 2;
    grid-column: 2 / span 2; 
    /*border: 5px solid black;*/
    padding: 5px;
}

.erdm notification-bar {
    background-color: whitesmoke;
    grid-row: 4;
    grid-column: 1 / 3;
    border: 2px solid black;
    white-space: pre-line;
    overflow-y: scroll;
}

.cameras {
    display: grid;
    padding: 5px 5px;
    grid-row-gap: 10px;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 450px 100px 50px 150px;

}

.cameras notification-bar {
    background-color: whitesmoke;
    grid-row: 4;
    grid-column: 1 / 3;
    border: 2px solid black;
    white-space: pre-line;
    overflow-y: scroll;
}

/* big table with list of camera IPs */
.cameras camera-display{
    grid-row: 1/3;
    grid-column: 1 / span 2; 
    border: 2px solid black;
    padding: 5px;
    overflow-y: scroll;
}

.cameras remove-camera-button{
    
}

.cameras emergency-stop {
    grid-row: 4;
    grid-column: 4;
}

.maintenance {
    display: grid;
    padding: 5px 5px;
    margin: auto 30px auto 50px;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: 225px 225px 100px 100px;
}

.maintenance sliderSection{
    padding: 10px 10px;
}

.maintenance notification-bar {
        background-color: whitesmoke;
        grid-row: 3 / 4;
        grid-column: 1 / 6;
        border: 2px solid black;
        white-space: pre-line;
        overflow-y: scroll;
}

.slider {
    -webkit-appearance: none;
    width:100%;
    height:20px;
    outline: 1px solid black;
    transform: rotate(-90deg) translate(-50%, -50%);
    transform-origin: 50% 50%;
}

.slider:hover {
    opacity: 1;
}

/* This is the slider handle CSS*/
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /*appearance: none;*/
    width: 20px;
    height: 30px;
    border: none;
    background: #191970;
}

.slider::after{
    content: "100";
    color: black;
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    left: 100%;
    top: 5%;
    transform:rotate(90deg);
}

.slider::before {
    content: "1";
    color: black;
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    right: 93%;
    top: auto;
    transform: rotate(90deg);
}

.number{
    background-color: honeydew;
    height:30px;
    width:50px;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 15px;
    letter-spacing: 1px;
}

#emergency-stop {
    border-radius: 25px;
    border: 2px solid black;
    background-color: red;
    text-align: center;
    padding: 10px 0;
    max-height: 50px;
    font-weight:bold;
}

#reset-button {
    border-radius: 25px;
    border: 2px solid black;
    background-color: orange;
    text-align: center;
    padding: 10px 0;
    max-height: 50px;
    font-weight: bold;
}

#go-button {
    border-radius: 25px;
    padding: 10px 0;
    background-color: green;
    text-align: center;
}