body {
    background-color:whitesmoke;
}

h1 {
    text-align: center;
    font: bold arial;
}

.homepage-button-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.topnav {
    overflow:hidden;
    background-color:whitesmoke;
}

.topnav homepage {
    float:right;
    text-align:center;
    font: italic times new roman;
}

.topnav homepage:hover {
    background-color:black;
    color:whitesmoke;
}

.topnav pageName {
    align-content:center;
    font: bold verdana;
}

#emergency-stop {
    color: red;
    text-align: center;

}

#reset-button {
    color: orange;
    text-align: center;
}

#go-button {
    color: green;
    text-align: center;
}