<!DOCTYPE html>

<html ng-app="AINavigation">
<head>
    <meta charset="utf-8" />
    <title>Centralized Dashboard - AINavigation</title>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/UIStyleSheet.css') }}">
    <link rel = "stylesheet" href="{{ url_for('static', filename='css/panzoomwidget.css') }}">
    <style type="text/css">
        .pan-zoom-frame {
            border: 2px solid black;
        }
    </style>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://monospaced.github.io/hamster.js/hamster.js"></script>
    <script src="https://code.angularjs.org/1.3.13/angular.min.js"></script>
    <script src="http://monospaced.github.io/angular-mousewheel/mousewheel.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='directives/panzoom.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='services/PanZoomService.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='directives/panzoomwidget.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='controllers/AINavigation.controller.js') }}"></script>
</head>
<body ng-controller="AINavigationController">
    <div class="topnav">
        <pageName href="#pageName">AI Navigation</pageName>
        <homepage ng-click="homepage()" href="#home">Homepage</homepage>
    </div>
    
    <div class="ainav">

        <map> MAP <br>
            <div id="map" style="background-color:#DEB887; position:relative">
            <panzoomwidget panzoom-id="PanZoom" style="background-color:#DEB887; position:absolute;top:10px;left:10px;z-index:1"></panzoomwidget>
                <panzoom id="PanZoom" config="panzoomConfig" model="panzoomModel" style="background-color:#DEB887; width:100%; height: 550px">
                    <svg style="position:absolute;" width="100%" height="550px">
                       <div id="{{ '{{point.index}}' }}" ng-repeat="point in waypoints" ng-attr-x="{{ '{{point.x_pos}}' }}" ng-attr-y="{{ '{{point.y_pos}}' }}" ng-attr-width="10" ng-attr-height="10" rx="10" ry="10" style="fill:red;stroke-width:2;stroke:rgb(255,0,0)">
                        <img src="{{ url_for('static', filename='imgs/pin.svg') }}" width="30" height="30"><br>
                       </div> 
                    </svg>
                </panzoom>
            </div>
        </map>
        <!--Coord-display will be a big table that includes current coord on top, and target coords and distance as two columns below -->
        <coord-display>
            <table>
                <tr>
                    <td>Current Coordinates:</td>
                    <td>Latitude: &nbsp;&nbsp; Longitude: &nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <th>Target coordinates</th>
                    <th>Distance</th>
                </tr>

                <tr ng-repeat="waypoint in waypoints">
                    <td>{{ '{{waypoint.lat}}' }} &nbsp;&nbsp; {{ '{{waypoint.long}}' }} &nbsp;&nbsp;</td>
                </tr>

            </table>
        </coord-display>
        <enter-coord>
            <form>
                <input type="number" id="waypointNewLongitude" name="waypointNew" placeholder="Enter New Longitude:"><br>
                <input type="number" id="waypointNewLatitude" name="waypointNew" placeholder="Enter New Latitude:"><br>
                <input type="submit" ng-click="waypointNew()" value="Submit" id="submit-button"><br>
            </form>
        </enter-coord>

        <form ng-submit="cameraIP()">
            <!-- <input type="text" id="cameraIP" name="cameraIP" placeholder="Add Camera IP Address:">
        <input type="submit" value="Submit" id="submit-button">-->
        </form><div></div>

        <div id="go-button" ng-click="goButton()">GO</div>
        <notification-bar id="notification-bar"><div id="notices">{{ '{{notifications}}' }}</div></notification-bar>
        <div id="emergency-stop" ng-click="eStopButton()">STOP</div>
    </div>
</body>
</html>
