<!DOCTYPE html>

<html ng-app="cameras">
<head>
    <meta charset="utf-8" />
    <title>Centralized Dashboard - Cameras</title>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/UIStyleSheet.css') }}">
    <style type="text/css">
        .pan-zoom-frame {
            border: 2px solid black;
        }
    </style>
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://monospaced.github.io/hamster.js/hamster.js"></script>
    <script src="https://code.angularjs.org/1.3.13/angular.min.js"></script>
    <script src="http://monospaced.github.io/angular-mousewheel/mousewheel.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='controllers/Cameras.controller.js') }}"></script>  <!-- Change this accordingly as we update the js controller -->
</head>
<body ng-controller="camerasController">  <!-- set name of the controller to the camerasController -->
    <div class="topnav">
        <pageName href="#pageName">Camera Views</pageName>
        <homepage ng-click="homepage()" href="#home">Homepage</homepage>
    </div>

    <div class="cameras">

        <!--camera-display will be a big table that includes all of the camera view IP addresses that can be selected to view-->
        <camera-display>
            <table>
                <tr>
                    <td>Current Cameras:</td>  <!-- will display a list of all of the camera IP addresses that we have entered -->
                    <td></td>
                </tr>
                
            </table>
        </camera-display>
        
        <form ng-submit="cameraIP()">
            <!--<input type="text" id="cameraIP" name="cameraIP" placeholder="Add Camera IP Address:">
        <input type="submit" value="Submit" id="submit-button">-->
        </form><div></div>

        <input class="remove-camera-button" type="button" ng-click="removeLatestCamera()" value="Remove Latest Camera IP" />
        
        <div></div>
        <notification-bar id="notification-bar"><div id="notices">{{ '{{notifications}}' }}</div></notification-bar>
        <div id="emergency-stop" ng-click="eStopButton()">STOP</div>
    </div>
</body>
</html>