<!DOCTYPE html>
<html lang="en">
<head>
    <title>HTML Elements Reference</title>
    <h1 style="text-align: center">Hive 1 Information</h1> <!--Find a way to make this automated-->
</head>
<body style="background-color:#EFE4B0;">



    <form action="/hive.pdf">
        <label for="editHealth">Health:</label>
        <input type="text" id="editHealth" name="editHealth"><br><br>
        <label for="rofInspection">Results of Inspection:</label>
        <input type="text" id="rofInspection" name="rofInspection"><br><br>
        <label for="hstores">Honey Stores:</label>
        <input type="text" id="hstores" name="hstores"><br><br>
        <label for="qproduction">Queen Production:</label>
        <input type="text" id="qproduction" name="qproduction"><br><br>
        <label for="equipment">Equipment on the Hive:</label>
        <input type="text" id="equipment" name="equipment"><br><br>
        <label for="iequipment">Equipment in inventory:</label>
        <input type="text" id="iequipment" name="iequipment"><br><br>
        <label for="losses">Losses:</label>
        <input type="text" id="losses" name="losses"><br><br>
        <label for="gains">Gains:</label>
        <input type="text" id="gains" name="gains"><br><br>
        <input type="submit" value="Submit">
    </form>

    <p>
        Click the "Submit" button and the form-data will be sent to a page on the
        server called "hive.pdf".
    </p>

</body>
</html>
