<!-- This is a comment on HTML -->
<!-- ope... thanks
    Cool. So my plan is we could work on the main page where you see the different hives after you log in. Like on my drawing.
    Yup we can work on the HTML here-->

<!-- I think there's a way to use templates, but for now... BASIC!-->
<!DOCTYPE html>
<html>
<head>
    <title>All Hives</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 8px;
        }
        li {
            display: inline-block;
            padding: 8px;
        }
        li a {
            display: inline-block;
            padding: 8px;
         }
    </style>
</head>
<body style="background-color:#EFE4B0;">
    <!--Head Navigation Bar-->
    <ul>
        <li>All Hives</li>
        <li><a href="">Add Apiary</a></li>
        <!--This is where "Welcome <username>" would go-->
        <li>Welcome <a href="">User</a></li>
    </ul>
</body>
</html>
