<!DOCTYPE html>

<html lang="en" ng-app="profile" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <!-- <link rel="stylesheet" href="../static/css/ProfileStyle.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='controllers/profile.controller.js') }}"></script>
    <script>
    </script>        <!-- credit to https://stackoverflow.com/questions/12368910/html-display-image-after-selecting-filename !-->
    <title>Profile</title>
    <style>
        article, aside, figure, footer, header, hgroup,
        menu, nav, section {
            display: block;
        }
    </style>
</head>
<body ng-controller='profileController' style="background-color:#EFE4B0;">
    </br>
    </br>
    <table border="0" style="border-collapse: collapse; width: 80%;">
    <tbody>
        <tr style="height: 35px;">
            <td style="width: 50%; height: 35px;" colspan="3" id="titleText"><h1>{{ '{{userName}}'}} would go here</h1></td>
        </tr>
        <tr style="height: 300px;">
            <td style="width: 30%; height: 300px;" id="imagebox"><img id="imagio" src="#" alt="your hive" class="imagio" /></td>
            <td style="width: 5%; height: 300px;" rowspan="4" id="yellow"></td>
            <td style="width: 50%; height: 300px;" rowspan="3" id="hiveinfobox"><label><input type="checkbox" id="hiveinfo" name="hiveinfo" value="hiveinfo">Hive info goes here</label></td>
        </tr>
        <tr style="height: 31px;">
            <td style="width: 30%; height: 31px;" id="yellow"><input id="pictureupload" type="file" onchange="readURL(this);" accept="image/gif, image/jpeg, image/png" value="Upload" /></td>
        </tr>
        <tr style="height: 222px;">
            <td style="width: 30%; height: 222px;">Phone: <input name="yourphone" type="tel" /><br /></br>Email: <input name="yourmail" type="email" /></td>
        </tr>
        <tr style="height: 31px;">
            <td style="width: 30%; height: 31px;" id-"yellow"><input id="contactupdate" type="submit" value="Update" /></td>
            <td style="width: 60%; height: 31px;" id="yellow"><input id="infoupdate" type="submit" value="Update" /></td>
        </tr>
    </tbody>
    </table>
</body>
</html>
